/*
Citi Logo Color : #003B70

*/

/* ----------BASIC SETUP---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: black;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
body {
    min-width: 450px;
}
/* ----------REUSEABLE COMPONENTS---------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

/* ----------HEADER AREA AND LOGO---------- */
header {
    background-color: #2472a4;
    padding: 20px;
    height: 100px;
    width: 100%;
}

.logo {
    height: 60px;
    width: auto;
    float: left;
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    word-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

/* ----------TABLE COMPONENTS SETTING---------- */
.table-main {
    margin: 100px auto 100px auto;
    border-spacing: 1;
    border-collapse: collapse;
    width: 80%;
    /*    background-color: #89c3eb;*/
    /*    background-color: #b1d6ee;*/
    /*    background-color: #c3d5f2;*/
    background-color: #d5e2f6;
    padding: 30px;
}

.tb-shadow {
    box-shadow: 10px 10px 5px #888888;
}

table th:first-child {
    width: 40%;
}

table th:last-child {
    width: 30%;
}

table th {
/*    background-color: #2980b9;*/
    background-color: #003B70;
    text-align: center;
    color: white;
    padding: 15px 25px;

}

table td {
    padding: 15px 25px;
    font-size: 16px;
    color: inherit;
}

table td a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.4s;
}

table td a:hover {
    text-decoration: underline;
}

tbody tr {
/*    color: #5e5e5e;*/
    transition: color 0.2s;
/*    transition: transform 0.4s, color 0.4s, background 0.4s;*/
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tbody tr:hover {
/*    background: #56a9e1;*/
/*    background: #2980b9;*/
/*    transform: scale(1.01);*/
    color: #000;
    font-weight: 400;
}

/* ----------MEDIA QUERIES---------- */
@media screen and (max-width: 900px) {
    header {
        background-color: #2980b9;
        padding: 20px;
        height: auto;
        width: 100%;
    }

    .logo {
        display: block;
    }

    .row {
        width: 100%;
    }
}
